@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated) {
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" })) {
        @Html.AntiForgeryToken()

        <ul class="nav navbar-nav navbar-right">
            @if (User.IsInRole("Admin"))
            {
                <li title="Lägg till användare">
                    @Html.ActionLink(" ", "Index", "RolesAdmin", null, htmlAttributes: new { @class = "fa fa-2x fa-user-plus" })
                </li>
                <li>@Html.ActionLink("UsersAdmin", "Index", "UsersAdmin")</li>
            }
            <li title="Inloggad som"><a href=@Url.Action("Index", "Manage", null)><i class="fa fa-user"></i>&nbsp;@User.Identity.GetUserName()</a></li>
            <li><a href="javascript:document.getElementById('logoutForm').submit()">Logga ut</a></li>
        </ul>
    }
}
else {
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
